<% provide :page_title, t('menu.questions') %>
<% currently_at t('menu.questions') %>

<h2 class="mb-4"><%= t('menu.questions') %></h2>

<%= link_to "New question", new_question_path, class: "btn btn-primary btn-lg mb-3" %>

<%= pagination @pagy %>

<%= render partial: 'question', collection: @questions %>

<%= pagination @pagy %>
