<% provide :page_title, "Question" %>
<% currently_at "Question" %>

<h2 class="mb-4"><%= @question.title %></h2>

<time datetime="<% @question.formatted_created_at %>">
  <%= @question.formatted_created_at %>
</time>

<div class="lead my-3">
  <%= sanitize @question.body %>
</div>

<%= link_to "Edit", edit_question_path(@question), class: "btn btn-secondary" %>
<%= button_to "Destroy", question_path(@question), class: "btn btn-danger",
  method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>

<hr class="my-4">

<h4>Write your answer</h4>

<%= render 'answers/form' %>

<h3 class="mt-5 mb-3">Answers</h3>

<%= pagination @pagy %>

<%= render partial: 'answers/answer', collection: @answers,
  as: :answer, locals: {question: @question} %>

<%= pagination @pagy %>
